@charset "UTF-8";
/* ---------- */
/* Generales */
/* ---------- */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

@media only screen and (min-width: 1462.5px) {
  .contenedor {
    max-width: 1170px;
  }
}

/* ---------- */
/* Navegación */
/* ---------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99;
}
header .contenedor {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.menu-contenedor nav {
  position: absolute;
  top: 80px;
  right: calc(10vw + 25px);
}
@media only screen and (min-width: 1462.5px) {
  .menu-contenedor nav {
    right: calc((100vw - 1170px) / 2 + 25px);
  }
}
.menu-contenedor ul.top-menu {
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  display: block;
  transition: all 1s ease;
}
.menu-contenedor ul.top-menu::before {
  content: "";
  height: 100%;
  width: 4px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
}
.menu-contenedor ul.top-menu li {
  list-style: none;
}
.menu-contenedor ul.top-menu li a {
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 20px;
}
.menu-contenedor span.barra-menu {
  display: block;
  width: 50px;
  height: 60px;
}
.menu-contenedor .menuicon {
  display: block;
  cursor: pointer;
  color: white;
  transform: rotate(0deg);
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 50%;
  top: 11.5px;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-contenedor .menuicon__bar, .menu-contenedor .menuicon__circle {
  fill: none;
  stroke: white;
  stroke-width: 3;
  stroke-linecap: round;
}
.menu-contenedor .menuicon__bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}
.menu-contenedor .menuicon__circle {
  transition: stroke-dashoffset 0.3s linear 0.1s;
  stroke-dashoffset: circumference(23);
  stroke-dasharray: circumference(23);
}
.menu-contenedor.open ul.top-menu {
  height: auto;
  opacity: 1;
}
.menu-contenedor.open .menuicon {
  color: white;
  transform: rotate(180deg);
}
.menu-contenedor.open .menuicon__circle {
  stroke-dashoffset: 0;
}
.menu-contenedor.open .menuicon__bar:nth-child(1), .menu-contenedor.open .menuicon__bar:nth-child(4) {
  opacity: 0;
}
.menu-contenedor.open .menuicon__bar:nth-child(2) {
  transform: rotate(45deg);
}
.menu-contenedor.open .menuicon__bar:nth-child(3) {
  transform: rotate(-45deg);
}

/* ------------- */
/* Sección Hero */
/* ------------- */
section.hero {
  overflow: hidden;
}
section.hero .contenedor {
  max-width: none;
  width: 400vw;
  display: flex;
  position: relative;
  animation: slider 20s infinite;
}
section.hero .contenedor img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
/* ------------- */
/* Plugin */
/* ------------- */
#slider {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
  height: 100vh !important;
  left: 0;
}

.rs-container.full .rs-outer, .rs-container.full .rs-inner {
  border-color: rgba(255, 255, 255, 0.5);
}
.rs-bg-color, .rs-path-color {
  background-color: transparent;
}

.rs-border {
  border-width: 2px;
  border-color: white;
}

.rs-handle {
  background-color: rgba(255, 255, 255, 0.5);
}

.rs-tooltip-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.rs-control circle {
  /* mention the range color here */
  stroke: rgba(255, 255, 255, 0.5);
}

.rs-control .rs-path-color,
.rs-control .rs-bg-color, .rs-range-color {
  background-color: transparent;
}

.rs-transition.rs-svg {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* ------------------*/
/* Slider */
/* ------------------*/
@keyframes slider {
  0% {
    left: 0;
  }
  25% {
    left: -100vw;
  }
  50% {
    left: -200vw;
  }
  75% {
    left: -300vw;
  }
}
/* ------------------*/
/* Sección Servicios */
/* ------------------*/
.servicios {
  position: absolute;
  top: 0;
  width: 100vw;
  background: #252525;
  height: 0;
  transform: translateY(100vh);
  transition: all 0.5s ease;
}

.servicios.open {
  position: absolute;
  top: 0;
  width: 100vw;
  background: #252525;
  height: 100vh;
  transform: translateY(0);
}

/*# sourceMappingURL=style.css.map */
